.btn {
  cursor: pointer;
}
.btn-search {
  cursor: pointer;
  position: absolute;
  right: 7px;
  top: 7px;
}
.btn-stars-active {
  /*fill: #6ec0fb;*/
  cursor: pointer;
  position: absolute;
  right: 10px;
  top: 10px;
}