.card {
  margin-top: $big-margin;
  min-height: 200px;
  &-search {
    background: $gray-color;
    padding: $big-padding;
    border-radius: $main-radius;
    box-sizing: border-box;
  }
  &-search input {
    font-size: $input-size;
    padding: $input-padding;
    border-radius: $main-radius;
    border: $border solid $border-color;
    box-sizing: border-box;
    outline: none;
    min-width: 100px;
    width: 100%;

    &-search input:focus {
      border: $border solid $border-focus;
    }
  }
  &-list {
    margin-top: $main-margin;
    box-sizing: border-box;
  }
  &-detail {
    margin-top: $big-margin;
    & a {
      margin-bottom: $big-margin;
      display: block;
    }
  }
  &-relative {
    position: relative;
  }
}

//Media query
@media (min-width: 640px) {
  .card {
    display: flex;
    width: 100%;

    &-search {
      width: 30%;
    }

    &-list {
      padding-left: $big-padding;
      width: 70%;
      margin: 0;
    }
  }
}