@import "./variables";
@import "./mixin";

@import "./components/card";
@import "./components/btn";
@import "./components/list";
#app {
  font-family: $main-family;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $text-color;
  background: $body-color;
  padding: $main-padding;
  border-radius: $main-radius;
  min-height: 300px;
}
#nav {
  @include flex-nav();
  padding: $main-padding;
  background: $main-color;
  border-radius: $main-radius;
  a {
    @include flex();
    font-size: $head-size;
    color: $body-color;
    font-weight: bold;
    text-decoration: none;

    &.router-link-exact-active {
      color: $body-color;
    }
  }
}
