@import "./variables";

@import "./components/card";
@import "./components/btn";
#app {
  font-family: $main-family;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: $text-color;
  background: $body-color;
  padding: $main-padding;
  border-radius: $main-radius;
  min-height: 300px;
}
#nav {
  padding: $main-padding;
  background: $main-color;
  display: flex;
  justify-content: space-between;
  border-radius: $main-radius;
  a {
    font-size: $head-size;
    font-weight: bold;
    color: $body-color;
    text-decoration: none;
    display: flex;

    &.router-link-exact-active {
      color: $body-color;
    }
  }
}
// Декомпозировать
p {
  white-space: nowrap; /* Запрещаем перенос строк */
  overflow: hidden; /* Обрезаем все, что не помещается в область */
  text-overflow: ellipsis; /* Добавляем многоточие */
  margin: 0;
}
.head {
  text-align: left;
}
.pb-10 {
  padding-right: $main-padding;
}
.word {
  text-decoration: none;
  color: $text-color;
  padding: $main-padding;
  cursor: grab;
}
