//Color project
$body-color: #f8f4f4;
$main-color: #6ec0fb;
$white-color: #fff;
$gray-color: #efefef;

$text-color: #2c3e50;
$border-color: #808080;
$border-focus: #6ec0fb;

//Font project
$main-family: Avenir, Helvetica, Arial, sans-serif;

$head-size: 24px;
$input-size: 20px;

//Border Project
$main-radius: 5px;
$border: 1px;

//Margin project
$big-margin: 20px;
$main-margin: 10px;

//Padding project
$big-padding: 20px;
$main-padding: 10px;

$input-padding: 7px;