//Color project
$body-color: #f8f4f4;
$main-color: #6ec0fb;

$text-color: #2c3e50;

//Font project
$main-family: Avenir, Helvetica, Arial, sans-serif;

$head-size: 24px;

//Border Project
$main-radius: 5px;

//Margin project

//Padding project
$main-padding: 10px;